* {
  font-family: 'Roboto', sans-serif;
}

@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}


/* /////////////////////////////////Page/////////////////////////////// */

.page-main-grid{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
}

.footer-1{
  height: 20px;
  background-color: #B2DB66;
}





/* /////////////////////////////////Page/////////////////////////////// */
.page-content{
  }


/* /////////////////////////////////nav/////////////////////////////// */




  .flex-container {
  display: flex;
  padding: 20px;
  flex-wrap : wrap;
  flex-direction: row;
  justify-content: space-between;
}

.card-container {
  width: 300px;
  margin: 40px;
  background-color: #F7F5F5;
  border-radius: 10px;
  animation: opacity 300ms linear;
}
.image{
  padding: 0;
  width: 300px;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.image:hover{
  opacity: .8;
  transition: all 300ms linear;
}

.text-container{
  padding: 10px;
}
.text-container div{
  padding: 10px;
  background-color: white;
}


/* /////////////Header///////// */

.header {
  display: grid;
  height: 50px;
}
.nav-links{
  justify-self: flex-end;
  align-self: center;
}

.nav-links a{
  color: black;
  font-size: 20px;
  margin: 0 20px 0 20px;
  text-decoration: none;
}

.nav-links a:hover{
  color: #B2DB66;
  transition: all 300ms linear;
}



/* /////////////Header///////// */

.position{
  margin-top: 8%;
}

.button{
  z-index:auto;
}

.list_style{
  z-index:9999;
  color: white;
  font-weight: bold;
  position:fixed;
  bottom: 10px;
  right: 20px;
  width: 200px;
  background-color: #B2DB66;
}


/* /////////////////////////////////Pantry-form/////////////////////////////// */

.landingFormContainer{
  display: flex;
  justify-content: center;
}


.landingForm{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: solid 9px #B2DB66;
  border-radius: 5px;
  padding: 30px;
  background-color: white;
  margin: 20px 0 20px 0;
  animation: opacity 300ms linear;
  }




.landing-grid{
  align-self: center;
  justify-self: center;
  width: 500px;
}


.landingForm input{
  display: block;
  margin: 20px 0 20px 0;
  width: 100%;
  height: 50px;
  background: #e6e6e6;
  font-size: 18px;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

  .buttonLanding {
    border-radius: 5px;
    background-color: #B2DB66;
    font-weight: bold;
    margin-top: 20px;
  }

  .cover{
    background-image: url("./pictures/food-cover.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 100%;
    background-position: center;
  }
/* /////////////////////////////////Loading/////////////////////////////// */
.loading-grid{
  display:grid;
  height: 100vh;
  padding: 20px;
}
.loading-container {
  padding: 10px;
  margin: 40px;
  height: 500px;
  width: 300px;
  border-radius: 5px;
  background-color: #F7F5F5;
  justify-self: center;
  animation: opacity 400ms linear;
}

.loading-square{
  height: 300px;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  background-color: #F7DA3E;
  animation: changing 500ms infinite linear;
}
.loading-text-container{
  background-color: white;
  height: 180px;
}

@keyframes changing {
  from {background-color: #F7DA3E;}
  to {background-color: #B2DB66;}


}


/* /////////////////////////////////Loading/////////////////////////////// */
/* /////////////////////////////////saved/////////////////////////////// */
.saved-button{
  margin: 10px 105px 0 105px;
  background-color: #B2DB66;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  width: 90px;
  height: 30px;
}
/* /////////////////////////////////saved/////////////////////////////// */


.title{
  font-size: 16px;
  color:black;
  font-weight: bold;
  text-align: center;
}

.remove{
  color: black;
}

.card {

    max-width: 300px;
    margin: auto;
    text-align: center;



}




button:hover {
  opacity: .7;
  transition: all 300ms linear;
}

.UpdateName {
    text-align: center;
}

.john {
    border-radius: 50%;
    display: flex;
}

.pic{
    border-radius: 50%;
    border: 1px solid black;
}

.flex-container1 {
    padding-left: 300px;
    margin: 10%;
    display: center;
    flex-wrap : center;
}

.saved{
  top: 50%;
  right: 50%;}

.empty-saved-page{
  padding-left: 35%;
  padding-top: 10%;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #B2DB66;
}
