.flex-container {
  padding: 0;
  margin: 10%;
  list-style-type:square;

  list-style: none;

  display: flex;
  flex-wrap : wrap;
  flex-direction: row;

  justify-content: space-between;
}

.flex-item {
  flex-basis: 20%;
  align-self: auto;
}

.image{
  padding: 0;
}

.header {
  display: flex;
  background-color: white;
  position: fixed;
  z-index:999;
  top: 0;
  height: 50px;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
  flex-direction: column;

}

.position{
  margin-top: 8%;
}

.button{
  z-index:auto;
}

.list_style{
  z-index:9999;
  color: white;
  font-weight: bold;
  position:fixed;
  top: 10px;
  right: 20px;
  width: 200px;
  background-color: red;
}


.buttonLanding {
  padding: 5px;
  border-bottom: 2px;
  text-align: center;
  margin-top: 10px;



}

.h1Landing {
  flex: display;
  text-align: center;
  font-family: 'Amaranth';
  font-weight: bold;
  overflow: hidden;

}



.landingFormContainer{
  display: flex;
  justify-content: center;
}


.landingForm{
  font: 95% Arial, Helvetica, sans-serif;
    max-width: 500px;
    height: 300px;
    margin: 20px auto;
    padding: 16px;
    background: #F7F7F7;
    border: 1px;
    box-sizing: content-box;
    display: block;
    margin-bottom: 1rem;}


.title{
  color:black;
}

.remove{
  color: black;
}

.card {

    max-width: 300px;
    margin: auto;
    text-align: center;



}

.title {
    color: black;
    font-size: 18px;
}

button {
    border:none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: red;
    text-align: center;
    cursor: pointer;
    width: flex;
    font-size: 20px;
    align-self: center;
}

button:hover {
    opacity: 0.7;
}

.UpdateName {
    text-align: center;
}

.john {
    border-radius: 50%;
    display: flex;
}

.pic{
    border-radius: 50%;
    border: 1px solid black;
}

.flex-container1 {
    padding-left: 300px;
    margin: 10%;
    display: center;
    flex-wrap : center;
}

.saved{
  top: 50%;
  right: 50%;}

.empty-saved-page{
  padding-left: 35%;
  padding-top: 10%;
}
